RAILS_ENV={{ rails_env }}
RACK_ENV={{ rack_env }}
PORT={{ app_port }}
RAILS_LOG_TO_STDOUT={{ rails_log_to_stdout }}
DATABASE_HOST={{ database_host }}
DATABASE_USERNAME={{ database_username }}
SECRET_KEY_BASE={{ secret_key_base }}